.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}


@media (max-width: 600px) {
  .chartContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}